DATEBASE_URL=postgresql+psycopg://postgres:postgres@localhost/postgres
SECRET_KEY=8bf393b3f3fn9nf39n9n3jkihjjk354
REDIS_URL=redis://user:password@IP_ADDRESS:PORT/1
COOKIE_SECURE=False
FRONTEND_URL=http://localhost:5173
